In [1]:
from dashboard import data
from datetime import datetime
data.get_title_timeseries("DJ Shadow","You Played Me",datetime(2024,1,1),datetime(2024,3,1))

/Users/jason/code/personal/thecurrent/dashboard/data.py:62: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  return pd.read_json(r.get(key).decode())

        yw  ct
0   202348   0
1   202349   0
2   202350   1
3   202351   0
4   202352  10
5   202353   1
6   202400  11
7   202401  14
8   202402  12
9   202403  14
10  202404  12
11  202405  17
12  202406  10
13  202407  15
14  202408  10